<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a routerLink="/"><span class="title">DoRubbish</span></a>
    </div>
    <button *ngIf="Pwa.promptEvent" (click)="installPwa()">Install</a>

    <div class="header-actions">
      <a routerLink="/new" class="nav-link nav-icon">
        <clr-icon shape="add-text"></clr-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="help-info"></clr-icon>
      </a>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>